/docs/.vitepress/cache/
node_modules/
stats.html
*.log

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

.idea
docs/.vuepress/dist
docs/.vuepress/.cache
docs/.vuepress/.temp
dist/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
