{
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "ignore"
}
