/*
// 定义变量
:root {
    --hyde-border-radius: calc(0.25rem * 2); // 8px
    --hyde-spacing-2xl: calc(0.25rem * 2); // 8px
    --hyde-font-size-sm: 0.875rem; // 14px
    --hyde-font-size-st: 1rem; // 16px
    --hyde-spacing: 0.25rem; // 4px
    --vp-code-link-hover-color: #79bbff;
    --hyde-spacing: 0.25rem; // 4px
    --hyde-card-border-radius: 0.25rem * 4; // 16px
    --hyde-spacing-6xl: 0.25rem * 6; // 24px
    --hyde-transition-3: all 0.3s; // 0.3s
    --hyde-card-border-radius: calc(0.25rem * 2); // 8px
    --hyde-primary-color-dark: rgb(51.2, 126.4, 204);
    --hyde-primary-color: #409eff;
    --hyde-font-size-xs: 0.75rem; // 12px
}

.twikoo {
    .el-input-group__append,
    .el-input-group__prepend,
    .el-textarea__inner {
        border: 1px solid #dcdfe6;
        box-shadow: none;
    }
    .el-input-group__prepend {
        border-right: none;
    }
    .el-button--small {
        height: auto;
    }
    .el-textarea > .el-textarea__inner {
        min-height: 117px !important;
        border-radius: var(--hyde-border-radius);
        margin-top: var(--hyde-spacing-2xl);
    }
    .tk-preview-container {
        border-radius: var(--hyde-border-radius);
    }
    .tk-comments-count {
        font-size: var(--hyde-font-size-sm);
        color: var(--vp-c-text-2);
    }
    .tk-nick,
    .tk-replies .tk-nick-link {
        font-size: var(--hyde-font-size-st);
        margin-right: var(--hyde-spacing);
        color: var(--hyde-primary-color);
    }
    .tk-tag {
        margin-right: var(--hyde-spacing);
    }
    .tk-comments-container > .tk-comment {
        border: solid 1px #f3f4f6;
        border-radius: var(--hyde-card-border-radius);
        padding: var(--hyde-spacing-6xl);
        margin-top: 0;
        margin-bottom: var(--hyde-spacing-6xl);
        transition: var(--hyde-transition-3);
        &:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        }
    }
    .tk-replies-expand > .tk-comment {
        border-top: solid 1px #f7f7f7;
        padding-top: var(--hyde-spacing-4xl);
    }
    .tk-content p {
        line-height: 1.6;
    }
    a:not(.tk-ruser):not(.tk-nick-link) {
        color: var(--hyde-primary-color-dark);
        font-weight: 500;
        text-underline-offset: 2px;
        text-decoration: underline;
        &:hover {
            color: var(--hyde-primary-color);
        }
    }
    // 代码块
    div.code-toolbar {
        border-radius: var(--hyde-border-radius) !important;
        box-shadow: var(--vp-code-block-shadow);
        :not(pre) > code[class*="language-"],
        pre[class*="language-"] {
            background: var(--vp-code-block-bg);
            border-radius: var(--hyde-border-radius);
        }
        pre[class*="language-"] {
            &::before,
            &::after {
                content: none;
            }
            & > code {
                padding: 1em;
                border-left: 4px solid var(--hyde-primary-color);
                border-radius: var(--hyde-border-radius);
            }
        }
        & > div.toolbar {
            z-index: 1;
            top: 8px;
            right: 8px;
            & > .toolbar-item > button {
                display: none;
                padding: 0 6px;
                font-size: var(--hyde-font-size-xs);
                color: black;
            }
        }
        &:hover > div.toolbar > .toolbar-item > button {
            display: block;
        }
    }
    .tk-admin-container {
        z-index: 1;
    }
}
.dark .twikoo {
    .tk-comments-container > .tk-comment {
        border-color: #454545;
        &:hover {
            box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
        }
    }
    .tk-replies-expand > .tk-comment {
        border-color: #343434;
    }
    // 代码块
    div.code-toolbar {
        pre[class*="language-"] {
            & > code {
                filter: brightness(0.8);
            }
        }
    }
}
*/
