/* 定义自定义中文字体 */
@font-face {
  font-family: "筑紫A丸-子集";
  //src: url("https://img.seasir.top/TsukuARdGothicStd-Bold.woff2") format("woff2");
  src: url("/font/TsukuARdGothicStd-Bold.woff2") format("woff2");
  font-weight: 700; /* 与实际字体匹配 */
  font-display: swap;
}

/* 应用字体 */
:root {
  --vp-font-family-base: "筑紫A丸-子集", "Hiragino Sans GB", "Microsoft YaHei", system-ui, sans-serif;

  --vp-font-family-mono: "JetBrains Mono", "Cascadia Mono", "Not Sans SC", monospace; /* mono：影响代码块的等宽字体。 */
}
