/* .vitepress\theme\style\hidden.scss */
// /* 隐藏横条 */
// nav导航栏下菜单隐藏线
.VPMenuGroup {
  //border-top: none !important;
}

// 页头横条隐藏线
.vp-doc h2 {
  border-top: none;
}

// 博客页页脚横线隐藏
.prev-next {
  border-top: none !important;
}

// 目录页上方横条隐藏线
.tk-catalogue__header {
  border-bottom: none;
}

// 移动端nav导航栏下隐藏线
.VPLocalNav {
  border-bottom: none !important;
}

// 取消页脚的高度只保留线
.VPFooter{
  padding: 0 !important;
}


/* 同时满足：具有aria-label="返回顶部" + 包含指定class（例如：.back-to-top） */
[aria-label="返回顶部"].tk-right-bottom-button__button {
  display: none;
}
