@media (max-width: 1200px) {
  // 隐藏省略号
  .VPNavBarExtra{
    display: none!important;
  }
}

@media (max-width: 1050px) {
  // 隐藏搜索框
  .VPNavBarSearch{
    display: none;
  }
}

/* 视口宽度 ≤ 960px 时生效（移动端） */
@media (max-width: 950px) {
  // 移动端导航栏吸顶
  .VPNav{
    position: sticky!important;
  }
}

@media (max-width: 910px) {
  // 缩小间距
  .VPNavBar .wrapper {
    padding: 0 8px 0 24px;
  }

  .VPNavBarMenu button{
    padding: 0 5px!important;
  }

  .tk-theme-enhance.is-top:before{
    margin-left: 8px;
    margin-right: 8px;
  }
}
