/* 性能优化，取消重绘等 */
:root {
  .tk-my__avatar__circle--bg.is-mask:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, #fff 100%);
  }

  .tk-post-item .pin:before {
     background-image: none;
    background-color: var(--tk-theme-color);
  }

  /* 去掉fixed，解决频发触发重绘影响性能的问题 */
  .tk-banner-bg-image.full, .tk-banner-bg-image.part{
    background: var(--tk-banner-img-bg);
  }

}

.dark {
  .tk-my__avatar__circle--bg.is-mask:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, #202127 100%);
  }
}
