/* 性能优化，取消重绘等 */
:root {
  .tk-my__avatar__circle--bg.is-mask:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, #fff 100%);
  }

  .tk-post-item .pin:before {
     background-image: none;
    background-color: var(--tk-theme-color);
  }

  /* 去掉fixed，解决频发触发重绘影响性能的问题 */
  .tk-banner-bg-image.full, .tk-banner-bg-image.part{
    background: var(--tk-banner-img-bg);
  }

  /* mask属性不使用var，解决导航栏图标重绘问题 */
  .DocSearch-Search-Icon {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke-width='1.6' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' d='m14.386 14.386 4.088 4.088-4.088-4.088A7.533 7.533 0 1 1 3.733 3.733a7.533 7.533 0 0 1 10.653 10.653z'/%3E%3C/svg%3E");
  }

  .vpi-chevron-right, .vpi-chevron-down, .vpi-chevron-left, .vpi-chevron-up {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  }

  .vpi-sun {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='4'/%3E%3Cpath d='M12 2v2M12 20v2M4.93 4.93l1.41 1.41M17.66 17.66l1.41 1.41M2 12h2M20 12h2M6.34 17.66l-1.41 1.41M19.07 4.93l-1.41 1.41'/%3E%3C/svg%3E");
  }

}

.dark {
  .tk-my__avatar__circle--bg.is-mask:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, #202127 100%);
  }
}
